*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: rgb(15, 15, 15);
  --white: rgb(238, 238, 238);
  --red: rgb(215, 64, 37);
  --blue: rgba(22, 53, 95);
  --green: rgb(0, 138, 79);
}

body {
  background: url("images/jeremy-wallace-unsplash-resized.jpg") no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container {
  background: var(--blue);
  border-radius: 5px;
  margin-top: 150px;
  opacity: 0.95;
  padding: 50px;
  width: 575px;
}

#header {
  text-align: center;
}

#countdown-timer {
  background: var(--black);
  border-radius: 5px;
  color: var(--white);
  display: inline-block;
  font-family: "Cursed Timer ULiL", monospace;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 12px;
}

#main {
  display: flex;
  justify-content: space-between;
}

.main-item {
  margin-right: 20px;
}

.main-item:last-child {
  margin-right: 0;
}

h3 {
  color: var(--white);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

.display {
  background: var(--black);
  border-radius: 5px;
  color: var(--red);
  font-family: "Cursed Timer ULiL", monospace;
  font-size: 90px;
  line-height: 1;
  padding: 10px 10px 5px;
  margin-bottom: 20px;
  text-align: center;
  width: 135px;
}

.highlight {
  color: var(--green);
}

#footer {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: none;
  border: 2px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  margin: 2px;
  padding: 5px 10px;
  text-transform: uppercase;
}

#image-source {
  bottom: 10px;
  color: var(--white);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  position: absolute;
  right: 10px;
}

a {
  color: var(--white);
}
